/* My CSS */
/* Palatte Color : https://coolors.co/000000-14213d-fca311-e5e5e5-ffffff */
body {
  background-color: #232a3b;
}

body .bg-nav {
  background-color: #0b151f;
}

.btn-color {
  color: #fff;
  background-color: #0b151f;
  border-color: white;
  transition: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.btn-color:hover {
  transform: scale(1.5);
}

.jumbotron-home {
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../resource/keyboardUnsplash.jpg);
}

.jumbotron {
  background-color: #14213d;
}

.myPad {
  padding-top: 6rem;
  color: white;
}

#home img {
  margin-top: 10rem;
  margin-bottom: -5rem;
}

#home h1 {
  margin-top: 5rem;
}

#home p {
  margin-bottom: 3rem;
}

#home svg {
  margin-top: -5rem;
}

#about p {
  margin-bottom: 9rem;
}

#about {
  margin-top: -11rem;
}

#portfolio {
  margin-top: -6rem;
  margin-bottom: -5rem;
}

.bg-cards {
  background-color: #000000;
}

#contact .container {
  margin-bottom: -8rem;
}

footer .container i {
  margin-right: 1rem;
}

@media (max-width: 1000px) {
  .jumbotron-home {
    background-size: 150%;
  }

  #home svg {
    margin-top: -1rem;
  }

  #about {
    margin-top: -3rem;
    margin-bottom: 0rem;
  }

  #about p {
    margin-bottom: 2rem;
  }

  #portfolio {
    margin-top: 0rem;
    margin-bottom: -5rem;
  }

  #contact .container {
    margin-bottom: 0rem;
  }
}

@media (max-width: 650px) {
  .jumbotron-home {
    background-size: 300%;
  }
}
